<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script
      src="https://kit.fontawesome.com/dfd4e6dc26.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Fidelity Investment</title>
  </head>
  <body>
    <nav>
      <section class="static">
        <div id="navbar">
          <div class="logo">
            <img
              src="./img/FIdelity Investment.png"
              alt="Fidelity Investment"
            />
          </div>
          <ul class="nav-links">
            <li><a href="./index.html">Home</a></li>
            <li><a href="#">Plans</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Faq</a></li>
            <ul class="auth">
              <li class="auth-1"><a href="./register.html">Sign Up</a></li>
              <li class="auth-2"><a href="./login.html">Log In</a></li>
            </ul>
          </ul>
          <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </div>
      </section>

      <section class="hero-text">
        <h1>Most profitable and fastest earning platform!</h1>
        <p>
          The main objective of Fidelity Investment is to ensure high returns in
          the long term. Our online platform offers a wide variety of
          opportunities for us and our investors. Safe and quality management of
          financial assets in the form of invested funds is achieved through
          well-built trading strategies, a thorough analysis of the market and
          professional experience.
        </p>

        <div class="start">
          <a href="#"><button>Get Started</button></a>
        </div>
      </section>
    </nav>

    <section class="plans">
      <h1 class="head">Plan List</h1>

      <div class="table-list">
        <article class="plan-a">
          <div class="art-head">
            <h1>10% + Capital</h1>
            <p>plan A</p>
          </div>
          <div class="prices">
            <div class="price-1">
              <h1>Min.</h1>
              <p>$50</p>
            </div>
            <div class="price-2">
              <h1>Max.</h1>
              <p>$500</p>
            </div>
            <div class="price-3">
              <h1>Hours</h1>
              <p>24</p>
            </div>
          </div>
        </article>

        <article class="plan-b">
          <div class="art-head">
            <h1>25% + Capital</h1>
            <p>plan B</p>
          </div>
          <div class="prices">
            <div class="price-1">
              <h1>Min.</h1>
              <p>$500</p>
            </div>
            <div class="price-2">
              <h1>Max.</h1>
              <p>$5,000</p>
            </div>
            <div class="price-3">
              <h1>Hours</h1>
              <p>24</p>
            </div>
          </div>
        </article>

        <article class="plan-c">
          <div class="art-head">
            <h1>50% + Capital</h1>
            <p>plan C</p>
          </div>
          <div class="prices">
            <div class="price-1">
              <h1>Min.</h1>
              <p>$5000</p>
            </div>
            <div class="price-2">
              <h1>Max.</h1>
              <p>$10,000</p>
            </div>
            <div class="price-3">
              <h1>Hours</h1>
              <p>24</p>
            </div>
          </div>
        </article>

        <article class="plan-d">
          <div class="art-head">
            <h1>150% + Capital</h1>
            <p>plan d</p>
          </div>
          <div class="prices">
            <div class="price-1">
              <h1>Min.</h1>
              <p>$10,000</p>
            </div>
            <div class="price-2">
              <h1>Max.</h1>
              <p>$20,000</p>
            </div>
            <div class="price-3">
              <h1>Hours</h1>
              <p>24</p>
            </div>
          </div>
        </article>
      </div>
    </section>

    <section class="earn">
      <h1>Simple Steps to Earn & Withdraw Here</h1>
      <div class="steps">
        <div class="step-1">
          <div class="circle">
            <i class="fas fa-laptop"></i>
          </div>
          <p class="head">Register</p>
          <p class="bot">Fill in the registration form to open an account</p>
        </div>

        <div class="step-2">
          <div class="circle">
            <i class="fas fa-hand-pointer"></i>
          </div>
          <p class="head">Select a plan</p>
          <p class="bot">Choose any plan you like.</p>
        </div>

        <div class="step-2">
          <div class="circle">
            <i class="fas fa-wallet"></i>
          </div>
          <p class="head">Withdraw to your wallet</p>
          <p class="bot">Get instant payment upon request.</p>
        </div>
      </div>
    </section>

    <section class="info">
      <div id="app">
        <h1>See How The Market's Doing</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Rank</td>
              <td>Name</td>
              <td class="mark-hide">Symbol</td>
              <td>Price (USD)</td>
              <td class="mark-hide">1H</td>
              <td class="mark-hide">1D</td>
              <td class="mark-hide">1W</td>
              <td class="mark-hide">Market Cap (USD)</td>
            </tr>
          </thead>

          <tbody>
            <tr v-for="coin in coins">
              <td>{{ coin.rank }}</td>
              <td>{{ coin.name }}</td>
              <td class="mark-hide">{{ coin.symbol }}</td>
              <td>$ {{ coin.price_usd | currency }}</td>
              <td class="mark-hide" :style="getColor( coin.percent_change_1h )">
                <span v-if="coin.percent_change_1h > 0">+</span>{{
                coin.percent_change_1h }}%
              </td>
              <td class="mark-hide" :style="getColor( coin.percent_change_24h )">
                <span v-if="coin.percent_change_24h > 0">+</span>{{
                coin.percent_change_24h }}%
              </td>
              <td class="mark-hide" :style="getColor( coin.percent_change_7d )">
                <span v-if="coin.percent_change_7d > 0">+</span>{{
                coin.percent_change_7d }}%
              </td>
              <td class="mark-hide">$ {{ coin.market_cap_usd | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="investor">
      <h1>Top videos from our Investors</h1>
      <p>Attach yours to contact@fidelityinvestment.org</p>
      <div class="vid-list">
        <iframe
          width="420"
          height="345"
          class="item"
          src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1"
        >
        </iframe>
        <iframe
          width="420"
          height="345"
          class="item"
          src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1"
        >
        </iframe>
        <iframe
          width="420"
          height="345"
          class="item"
          src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1"
        >
        </iframe>
        <iframe
          width="420"
          height="345"
          class="item"
          src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1"
        >
        </iframe>
      </div>
    </section>

    <section class="logos">
      <a class="moto-anchor" name="sponsors"></a>
      
      <div class="container-fluid">
        <div class="row">
          <div class="moto-cell col-sm-12" data-container="container">
      
            <div
              class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
              data-grid-type="sm" data-widget="row" data-spacing="aaaa"data-bg-position="left top">
      
              <div class="container-fluid">
                <div class="row" data-container="container">
      
      
                  <div
                    class="moto-widget moto-widget-row__column moto-cell col-sm moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                    ="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top">
      
                    <div data-widget-id="wid_1517481113_xlmevyijt"
                      class="moto-widget log moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                      data-widget="image">
                      <a class="moto-widget-image-link moto-link" href="#" data-action="url">
                        <img data-src="/02 Regular Coloured/64x64/Bitcoin.png" class="moto-widget-image-picture lazyloaded"
                          data-id="167" title="" alt="" src="https://polarinvestment.org/02%20Regular%20Coloured/64x64/Bitcoin.png">
                      </a>
                    </div>
                  </div>
      
      
      
                  <div
                    class="moto-widget moto-widget-row__column moto-cell col-sm moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                    ="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top">
      
      
                    <div data-widget-id="wid_1517481055_r2z9etwho"
                      class="moto-widget log moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                      data-widget="image">
                      <a class="moto-widget-image-link moto-link" href="#" data-action="url">
                        <img data-src="/02 Regular Coloured/64x64/Ethereum.png" class="moto-widget-image-picture lazyloaded"
                          data-id="162" title="" alt="" src="https://polarinvestment.org/02%20Regular%20Coloured/64x64/Ethereum.png">
                      </a>
                    </div>
      
      
                  </div>
                  <div
                    class="moto-widget moto-widget-row__column moto-cell col-sm moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                    ="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top">
      
      
                    <div data-widget-id="wid_1517481110_dp0unaoly"
                      class="moto-widget log moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                      data-widget="image">
                      <a class="moto-widget-image-link moto-link" href="#" data-action="url">
                        <img data-src="https://polarinvestment.org/02%20Regular%20Coloured/64x64/Litecoin.png" class="moto-widget-image-picture lazyloaded"
                          data-id="163" title="" alt="" src="https://polarinvestment.org/02%20Regular%20Coloured/64x64/Litecoin.png">
                      </a>
                    </div>
      
      
                  </div>
                  <div
                    class="moto-widget moto-widget-row__column moto-cell col-sm moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                    ="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top">
      
      
                    <div data-widget-id="wid_1517481111_1wsybb0o8"
                      class="moto-widget log moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                      data-widget="image">
                      <a class="moto-widget-image-link moto-link" href="#" data-action="url">
                        <img data-src="/02 Regular Coloured/64x64/Monero.png" class="moto-widget-image-picture lazyloaded"
                          data-id="164" title="" alt="" src="https://polarinvestment.org/02%20Regular%20Coloured/64x64/Monero.png">
                      </a>
                    </div>
      
      
                  </div>
                  <div
                    class="moto-widget moto-widget-row__column moto-cell col-sm moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                    ="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top">
      
      
                    <div data-widget-id="wid_1517481112_cj39eiq2g"
                      class="moto-widget log moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                      data-widget="image">
                      <a class="moto-widget-image-link moto-link" href="#" data-action="url">
                        <img data-src="/02 Regular Coloured/64x64/Ripple.png" class="moto-widget-image-picture lazyloaded"
                          data-id="165" title="" alt="" src="https://polarinvestment.org/02%20Regular%20Coloured/64x64/Ripple.png">
                      </a>
                    </div>
      
      
                  </div>
                  <div
                    class="moto-widget moto-widget-row__column moto-cell col-sm moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                    ="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top">
      
      
      
      
      
                    <div data-widget-id="wid_1517481113_jmyb8vuz0"
                      class="moto-widget log moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                      data-widget="image">
                      <a class="moto-widget-image-link moto-link" href="#" data-action="url">
                        <img data-src="/02 Regular Coloured/64x64/BitConnect.png" class="moto-widget-image-picture lazyloaded"
                          data-id="166" title="" alt="" src="https://polarinvestment.org/02%20Regular%20Coloured/64x64/BitConnect.png">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="why-us">
    <a class="moto-anchor" name="featured plan"></a>
    
    <div class="container-fluid">
      <div class="row why">
        <div class="moto-cell col-sm-12" data-container="container">
    
          <div
            class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
            data-grid-type="sm" data-widget="row" data-spacing="aaaa"  data-bg-position="left top">
    
            <div class="container-fluid why-row">
              
    
    
                <div
                  class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                 data-widget="row.column" data-container="container" data-spacing="aaaa"
                  data-bg-position="left top">
    
                  <div class="moto-widget-text-content moto-widget-text-editable">
                    <h2 class="moto-text_system_6"><br></h2>
                  </div>
                  <span class="moto-widget-image-link">
                    <iframe
                      src="https://www.youtube.com/embed/Be3toJyYRj0?vq=hd1080&amp;autoplay=1&amp;modestbranding=1&amp;showinfo=0&amp;rel=0"
                      width="100%" height="450" frameborder="0"></iframe>
                  </span>
                </div>
                <div
                  class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                   data-widget="row.column" data-container="container" data-spacing="aaaa"
                  data-bg-position="left top">
    
                  <div
                    class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                    data-widget="text" data-preset="default" data-spacing="sasa" data-visible-on="mobile-v"
                    data-animation="">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                      <h2 class="moto-text_system_6 quest">WHY US?</h2>
                    
                      <p class="moto-text_system_9"><span class="moto-color3_3">All deposit &amp; withdrawal are instant
                          here and you can start with as low as $50 and test our platform, After 1 day you can test
                          withdrawal and you will know how it work! Daily Profits, Instant Deposit &amp; Withdrawal, SSL
                          Security, 24x7 Online Support? Still confused on such high returns and building trust with us? Try
                          some research and know the fact. Polar Investment welcome all world's investors and the best
                          e-currency we recommend is Bitcoin, easy for us to place trade and make profits for you!
                        </span></p>
                      <p class="moto-text_system_9">&nbsp;</p>
                      
                    </div>
                  </div>
                  <div data-widget-id="wid_1562317007_egi8bkfnt"
                    class="moto-widget moto-widget-paypal_button moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
                    data-widget="paypal_button" data-preset="default">
    
                    <input type="hidden" name="charset" value="utf-8">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="amount" value="">
                    <input type="hidden" name="business" value="">
                    <input type="hidden" name="item_name" value="">
                    <input type="hidden" name="currency_code" value="USD">
                    <div class="moto-widget moto-widget-button moto-preset-3 head-btn">
                      
                        <button name="submit"
                          class="moto-widget-button-link moto-size-medium dash">
                          <span class="fa moto-widget-theme-icon"></span>
                          <span class="moto-widget-button-label">Dashboard</span>
                        </button>
                      
                    </div>
    
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    </section>

    <section class="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="moto-cell col-sm-12" data-container="container">
            <div
              class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
              data-grid-type="sm" data-widget="row" data-spacing="aaaa"  data-bg-position="left top">
              <div class="container-fluid">
                <div class="row" data-container="container">
                  <div
                    class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                     data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top">
      
                    <div
                      class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                      data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v"
                      data-animation="">
                      <div class="moto-widget-text-content moto-widget-text-editable center">
                        <h1 class="moto-text_system_6">Contact Us</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
              data-grid-type="sm" data-widget="row" data-spacing="aaaa"  data-bg-position="left top">
      
              <div class="container-fluid">
                <div class="row cont" data-container="container">
                  <div
                    class="moto-widget map moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                     data-widget="row.column" data-container="container" data-spacing="aaaa"
                    data-bg-position="left top">
      
                    <div style="width: 100%"><iframe width="100%" height="400"
                        src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=6.502778,3.364167&amp;q=%20surulere%2C%20Lagos%2C%20Nigeria+(fidelity%20investment)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
                          href="https://www.maps.ie/coordinates.html">latitude longitude finder</a></iframe></div><br />
      
                  </div>
                  
                <div
                  class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                  data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                  <form>
                    <div class="form-group">
                      <input type="name" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                     
                    </div>
                    
                    <div class="form-group">
                      <input type="text" class="form-control" id="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </section>

    <footer>
      <div class="container">
      <div class="head">
        <h1>FIdelity Investment</h1>
       </div>
      <p class="footer-text">
When they talk about accuracy and transparency, 
our company comes first. We are 100% reliable and trustworthy with a
physical office.
Registration Number: 15688
      </p>
      </div>

      <ul class="contact container">
        <h1>Contact Information</h1>
        <a href="#"><li><i class="fas fa-arrow-right"></i> 372 Bay St 21ST FLOOR</li></a>
        <a href="#"><li><i class="fas fa-arrow-right"></i> Toronto, ON M5H 2W9, Canada</li></a>
        <a href="#"><li><i class="fas fa-arrow-right"></i> 300 E Main St Carbondale,</li></a>
        <a href="#"><li><i class="fas fa-arrow-right"></i> IL 62901, USA</li></a>
        <a href="#"><li><i class="fas fa-arrow-right"></i> NAROTTAM MORARJEE MARG,</li></a>
        <a href="#"><li><i class="fas fa-arrow-right"></i> BALLARD ESTATE, MUMBAI MH 400038 INDIA</li></a>
        <a href="#"><li><i class="fas fa-arrow-right"></i> Contact@fidelityinvestment.org</li></a>
        <a href="#"><li><i class="fas fa-arrow-right"></i> 24/7 Customer Support</li></a>
      </ul>

      <div class="copy container">
        Copyright © 2019. All rights reserved.
      </div>
    </footer>

    <script>
      window.onscroll = () => {
        const nav = document.querySelector("#navbar");
        if (this.scrollY <= 10) nav.className = "";
        else nav.className = "scroll";
      };
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <script src="./js/burger.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="./static/js/vue2-filters.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/script.js"></script>
    
  </body>
</html>
